.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #111;
  }
  
  .logo {
    width: 100px;
  }
  
  .avatar {
    width: 30px;
  }
  