.row {
    margin-left: 20px;
    color: white;
  }
  
  .row-posters {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
  }
  
  .row-poster {
    max-height: 200px;
    transition: transform 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .row-poster:hover {
    transform: scale(1.08);
  }
  
  .row-posters::-webkit-scrollbar {
    display: none;
  }
  